*.ini
*.dat
*.bak
Data/debuglog.txt
Data/Actors.rxdata
Data/Armors.rxdata
Data/Enemies.rxdata
Data/Items.rxdata
Data/Skills.rxdata
Data/States.rxdata
Data/System.rxdata
Data/Weapons.rxdata
Data/PluginScripts.rxdata
PBS/pokemon_old.txt
Save Game/
Screenshots/
Changelogs/
patched_files.txt
created_patch.zip
Chasm Launcher.jar
item_distribution.txt
switching_analysis.txt
*_backup*
move_distribution.txt
changelog.txt
