*.dat
!spanish.dat
!english.dat
!chinese_simplified.dat
!chinese_traditional.dat
*.bak
Data/debuglog.txt
Data/Actors.rxdata
Data/Armors.rxdata
Data/Enemies.rxdata
Data/Items.rxdata
Data/Skills.rxdata
Data/States.rxdata
Data/Weapons.rxdata
Data/PluginScripts.rxdata
Save Game/
Screenshots/
Changelogs/
Analysis/
*_backup*
*.lnk
Game.ini
*.code-workspace
towersingleteams.rxdata
towersingle.rxdata
Data/PBSExtensions.rxdata
Data/GraphicsExtensions.rxdata
server.log
.idea/